In [1]:
import numpy as np
import pandas as pd

In [2]:
employee=pd.read_csv("D:\data science\csv\employee_decision_tree.csv")

In [3]:
employee.describe(include="all")
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
import seaborn as sns
sns.distplot(employee.Age)

In [5]:
employee.EmployeeCount.nunique()

1

In [6]:
employee.EmployeeCount.head()

0    1
1    1
2    1
3    1
4    1
Name: EmployeeCount, dtype: int64

In [7]:
employee.EmployeeNumber.nunique()

1470

In [8]:
employee.Over18.unique()

array(['Y'], dtype=object)

In [9]:
employee.StandardHours.unique()

array([80], dtype=int64)

In [10]:
employee=employee.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'],axis=1)

In [11]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(23), object(8)
memory usage: 356.1+ KB

In [12]:
employee.isna().sum() #To check any missing values

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [13]:
employee.loc[employee['Attrition']=="No",'Attrition']=0
employee.loc[employee['Attrition']=="Yes",'Attrition']=1

In [14]:
employee.Attrition.value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [15]:
employee_num=employee[employee.select_dtypes(include=[np.number]).columns.tolist()]
type(employee_num)
employee_num.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,2,94,3,2,4,...,3,1,0,8,0,1,6,4,0,5
1,49,0,279,8,1,3,61,2,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,4,92,2,1,3,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,4,56,3,1,3,...,3,3,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,40,3,1,2,...,3,4,1,6,3,3,2,2,2,2

In [16]:
employee_dummies=pd.get_dummies(employee[employee.select_dtypes(include=['object']).columns.tolist()])
employee_dummies.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [17]:
employee_combined=pd.concat([employee_num,employee_dummies],axis=1)
employee_combined.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,2,94,3,2,4,...,0,0,0,1,0,0,0,1,0,1
1,49,0,279,8,1,3,61,2,2,2,...,0,0,1,0,0,0,1,0,1,0
2,37,1,1373,2,2,4,92,2,1,3,...,0,0,0,0,0,0,0,1,0,1
3,33,0,1392,3,4,4,56,3,1,3,...,0,0,1,0,0,0,1,0,0,1
4,27,0,591,2,1,1,40,3,1,2,...,0,0,0,0,0,0,1,0,1,0

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
train_x=employee_combined.drop(['Attrition'],axis=1)
train_y=employee_combined['Attrition']

In [20]:
x_train,x_test,y_train,y_test=train_test_split(train_x,train_y,test_size=0.3,random_state=20)

In [21]:
from sklearn import tree #import tree classifier model
dt=tree.DecisionTreeClassifier() #creating a decision tree classifier object
dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
y_pred=dt.predict(x_test)

In [23]:
from sklearn import metrics #To check different parameters like accuracy or all others

In [24]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7868480725623582

In [25]:
print("Precision:",metrics.precision_score(y_test,y_pred))

Precision: 0.34615384615384615

In [26]:
print("Recall:",metrics.recall_score(y_test,y_pred))

Recall: 0.38571428571428573

In [27]:
from pydotplus import graphviz

In [28]:
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz

C:\Users\Working\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [29]:
dot_data=StringIO()

In [30]:
import pydotplus

In [31]:
export_graphviz(dt,out_file=dot_data,filled=True,rounded=True,special_characters=True)

In [32]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())

In [33]:
graphviz.Subgraph()

# Random Forest

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
rf=RandomForestClassifier(n_estimators=100)

In [36]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [37]:
y_pred=rf.predict(x_test)

In [38]:
from sklearn import metrics

In [40]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8639455782312925

In [41]:
print("Precision:",metrics.precision_score(y_test,y_pred))

Precision: 0.8571428571428571

In [42]:
print("Recall:",metrics.recall_score(y_test,y_pred))

Recall: 0.17142857142857143

In [46]:
from time import time
from scipy.stats import randint as sp_randint
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

## Function to report results of Random Search

In [62]:
def report(results,n_top=3):
    for i in range(1,n_top+1):
        candidates = np.flatnonzero(results['rank_test_score']==i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f}(std: {1:.3f})".format(results['mean_test_score'][candidate],
                                                                       results['std_test_score'][candidate]))
            print("Parameters:{0}".format(results['params'][candidate]))
            print("")

In [58]:
#Specify parameters and distributions to sample from
param_dist = {'max_depth':[3,None],
             'max_features': sp_randint(1,11),
             'min_samples_split': sp_randint(2,11),
             'bootstrap':[True,False],
             'criterion':['gini','entropy']}

In [63]:
#run randomized search
n_iter_search = 20
random_search = RandomizedSearchCV(rf, param_distributions=param_dist, n_iter=n_iter_search,cv=5)

start=time()
random_search.fit(x_train,y_train)
print("RandomizedSearchCV took %.2f seconds for %d candidates"
      "parameter settings "%((time()-start),n_iter_search))
report(random_search.cv_results_)

RandomizedSearchCV took 31.96 seconds for 20 candidatesparameter settings
Model with rank: 1
Mean validation score: 0.867(std: 0.009)
Parameters:{'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 8, 'min_samples_split': 10}

Model with rank: 2
Mean validation score: 0.863(std: 0.014)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 4}

Model with rank: 3
Mean validation score: 0.862(std: 0.017)
Parameters:{'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 8, 'min_samples_split': 10}

Model with rank: 3
Mean validation score: 0.862(std: 0.015)
Parameters:{'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 9, 'min_samples_split': 10}

In [64]:
random_search.cv_results_

{'mean_fit_time': array([0.18567123, 0.37944536, 0.20564671, 0.34876461, 0.35752144,
        0.20830431, 0.46336884, 0.15603681, 0.46154103, 0.40004301,
        0.28288302, 0.18749695, 0.4170949 , 0.21225262, 0.2491488 ,
        0.24432502, 0.22107749, 0.35776305, 0.30558605, 0.23936496]),
 'std_fit_time': array([0.03418311, 0.02131013, 0.00964048, 0.03108702, 0.04059767,
        0.00290664, 0.01132431, 0.00788301, 0.03065225, 0.04609653,
        0.01903152, 0.01346629, 0.01470591, 0.00264081, 0.01197803,
        0.00749387, 0.00853551, 0.0108308 , 0.02306979, 0.02400442]),
 'mean_score_time': array([0.02071381, 0.01985307, 0.01853857, 0.01987529, 0.02375765,
        0.01749196, 0.01926723, 0.01678996, 0.02025394, 0.01899924,
        0.01856132, 0.01742439, 0.01931715, 0.01733398, 0.02046118,
        0.01659155, 0.02179947, 0.01794558, 0.02101521, 0.01946678]),
 'std_score_time': array([0.00581419, 0.00222219, 0.00182345, 0.00196953, 0.00962843,
        0.00101533, 0.00087405, 0.00094266, 0.00101421, 0.0033439 ,
        0.00259771, 0.00192435, 0.00114849, 0.00134401, 0.00263982,
        0.00197245, 0.00298855, 0.00112674, 0.00174728, 0.0024614 ]),
 'param_bootstrap': masked_array(data=[False, True, True, True, True, True, False, True,
                    False, True, True, False, False, False, True, False,
                    False, True, True, False],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_criterion': masked_array(data=['entropy', 'gini', 'gini', 'gini', 'entropy',
                    'entropy', 'entropy', 'gini', 'gini', 'gini',
                    'entropy', 'gini', 'gini', 'gini', 'gini', 'entropy',
                    'entropy', 'gini', 'entropy', 'gini'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[3, None, None, None, None, 3, None, 3, None, None,
                    None, 3, None, 3, None, 3, None, None, None, 3],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[2, 10, 2, 7, 7, 8, 8, 2, 9, 10, 3, 5, 8, 8, 4, 8, 1,
                    10, 4, 8],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[10, 3, 8, 3, 9, 2, 10, 8, 10, 4, 3, 5, 10, 5, 5, 8, 9,
                    4, 2, 2],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 2,
   'min_samples_split': 10},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 10,
   'min_samples_split': 3},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 2,
   'min_samples_split': 8},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 7,
   'min_samples_split': 3},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 7,
   'min_samples_split': 9},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 8,
   'min_samples_split': 2},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 8,
   'min_samples_split': 10},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 2,
   'min_samples_split': 8},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 9,
   'min_samples_split': 10},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 10,
   'min_samples_split': 4},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 3,
   'min_samples_split': 3},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 5,
   'min_samples_split': 5},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 8,
   'min_samples_split': 10},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 8,
   'min_samples_split': 5},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 4,
   'min_samples_split': 5},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 8,
   'min_samples_split': 8},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 1,
   'min_samples_split': 9},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 10,
   'min_samples_split': 4},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 4,
   'min_samples_split': 2},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 8,
   'min_samples_split': 2}],
 'split0_test_score': array([0.83574879, 0.87922705, 0.85990338, 0.87439614, 0.8647343 ,
        0.84541063, 0.88888889, 0.83574879, 0.88888889, 0.8647343 ,
        0.8647343 , 0.84057971, 0.88405797, 0.85024155, 0.85990338,
        0.84541063, 0.83574879, 0.87439614, 0.8647343 , 0.84541063]),
 'split1_test_score': array([0.83574879, 0.85990338, 0.85024155, 0.85990338, 0.8647343 ,
        0.83574879, 0.8647343 , 0.83574879, 0.85507246, 0.85990338,
        0.85990338, 0.83574879, 0.8647343 , 0.84057971, 0.85990338,
        0.84057971, 0.84057971, 0.8647343 , 0.85990338, 0.84057971]),
 'split2_test_score': array([0.83902439, 0.83902439, 0.84878049, 0.84390244, 0.84878049,
        0.83902439, 0.83902439, 0.83902439, 0.84878049, 0.84390244,
        0.84878049, 0.83902439, 0.85853659, 0.83902439, 0.84878049,
        0.84390244, 0.84878049, 0.83902439, 0.85365854, 0.84390244]),
 'split3_test_score': array([0.83902439, 0.87317073, 0.85853659, 0.87804878, 0.86341463,
        0.85853659, 0.86829268, 0.83902439, 0.86829268, 0.86829268,
        0.85853659, 0.83902439, 0.86829268, 0.85853659, 0.85365854,
        0.85853659, 0.84878049, 0.87804878, 0.85365854, 0.85853659]),
 'split4_test_score': array([0.83902439, 0.84878049, 0.83902439, 0.84878049, 0.84878049,
        0.84390244, 0.84878049, 0.83902439, 0.84878049, 0.84390244,
        0.85365854, 0.83902439, 0.85853659, 0.84390244, 0.84878049,
        0.83902439, 0.83902439, 0.85853659, 0.84878049, 0.84390244]),
 'mean_test_score': array([0.83770651, 0.86005831, 0.85131195, 0.86103013, 0.85811467,
        0.84450923, 0.86200194, 0.83770651, 0.86200194, 0.85617104,
        0.85714286, 0.83867833, 0.86686103, 0.84645287, 0.85422741,
        0.84548105, 0.8425656 , 0.86297376, 0.85617104, 0.84645287]),
 'std_test_score': array([0.00160625, 0.01488809, 0.00753881, 0.01349937, 0.00761192,
        0.00780186, 0.01717029, 0.00160625, 0.01525185, 0.01033439,
        0.00546473, 0.00158912, 0.00940324, 0.00715582, 0.00498475,
        0.00689872, 0.00529429, 0.01379621, 0.00556332, 0.0062321 ]),
 'rank_test_score': array([19,  6, 12,  5,  7, 16,  3, 19,  3,  9,  8, 18,  1, 13, 11, 15, 17,
         2,  9, 13])}

## Grid Search

In [66]:
#use a full grid over all parameters
param_grid= {
    "max_depth": [3,None],
    'max_features': [1,3,10],
    'min_samples_split': [2,3,10],
    'bootstrap': [True,False],
    'criterion':['gini','entropy']
}

#run grid search
grid_search = GridSearchCV(rf,param_grid=param_grid,cv=5)
start=time()
grid_search.fit(x_train,y_train)
print("GridSearchCV took %.2f seconds for %d candidates"
     "parameter settings. "%((time()-start), len(grid_search.cv_results_['params'])))
report(grid_search.cv_results_)

GridSearchCV took 100.80 seconds for 72 candidatesparameter settings.
Model with rank: 1
Mean validation score: 0.865(std: 0.015)
Parameters:{'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}

Model with rank: 2
Mean validation score: 0.863(std: 0.009)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 2}

Model with rank: 2
Mean validation score: 0.863(std: 0.009)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}

Model with rank: 2
Mean validation score: 0.863(std: 0.015)
Parameters:{'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 2}

Model with rank: 2
Mean validation score: 0.863(std: 0.015)
Parameters:{'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 2}

Model with rank: 2
Mean validation score: 0.863(std: 0.016)
Parameters:{'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 3}

Model with rank: 2
Mean validation score: 0.863(std: 0.006)
Parameters:{'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}