In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

C:\Users\Working\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Working\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [10]:
data = pd.read_csv("D:\\data science\\csv\\titanic\\train.csv")

In [11]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
#convert categorical variables to numeric
data['Gender'] = np.where(data['Sex'] == 'male',0,1)
data['Embarked_clean'] = np.where(data['Embarked'] == 'S',0,np.where(data['Embarked'] == 'C',1,np.where(data['Embarked'] == 'Q',2,3)))

In [13]:
#cleaning dataset of Nan
data = data[['Survived','Pclass','Gender','Age','SibSp','Parch','Fare','Embarked_clean']].dropna(axis=0,how='any')

In [14]:
#split the data in training and test datasets
x_train, x_test = train_test_split(data, test_size=0.5, random_state=int(time.time()))

In [15]:
#Instantiate the classifier
gnb = GaussianNB()
used_features = ['Pclass','Gender','Age','SibSp','Parch','Fare','Embarked_clean']

In [16]:
#Train Classifier
gnb.fit(x_train[used_features].values, x_train['Survived'])

GaussianNB(priors=None, var_smoothing=1e-09)

In [17]:
y_pred = gnb.predict(x_test[used_features])

In [20]:
#print_results
print('Number of mislabeled points out of total {} points: {}, performance {:05.2f}%'.format(x_test.shape[0],
                                                                                            (x_test['Survived']!=y_pred).sum(),
                                                                                            100*(1-(x_test['Survived']!=y_pred).sum()/x_test.shape[0])))

Number of mislabeled points out of total 357 points: 74, performance 79.27%

In [22]:
mean_survival = np.mean(x_train['Survived'])
mean_notsurvived = 1-mean_survival
print('Survival Probability = {:03.2f}%, Not Survival Probability = {:03.2f}%'.format(100*mean_survival, 100*mean_notsurvived))

Survival Probability = 41.18%, Not Survival Probability = 58.82%

In [28]:
data.Fare.value_counts().head()

13.0000    41
26.0000    30
8.0500     29
10.5000    24
7.8958     23
Name: Fare, dtype: int64

In [27]:
mean_fare_survived = np.mean(x_train[x_train['Survived']==1]['Fare'])
std_fare_survived = np.std(x_train[x_train['Survived']==1]['Fare'])
mean_fare_notsurvived = np.mean(x_train[x_train['Survived']==0]['Fare'])
std_fare_notsurvived = np.std(x_train[x_train['Survived']==0]['Fare'])

print('Mean Fare Survived = {:03.2f}'.format(mean_fare_survived))
print('Std Fare Survived = {:03.2f}'.format(std_fare_survived))
print('Mean Fare Not Survived = {:03.2f}'.format(mean_fare_notsurvived))
print('Std Fare Not Survived = {:03.2f}'.format(std_fare_notsurvived))

Mean Fare Survived = 54.06
Std Fare Survived = 72.81
Mean Fare Not Survived = 22.97
Std Fare Not Survived = 29.03