In [22]:
import pandas as pd
import numpy as np

In [2]:
col_headers=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [3]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

In [4]:
df=pd.read_csv("C:\\Users\\Working\\Desktop\\imports-85.data",header=None) #Function is used for reading csv filesdf.head() #Prints first five rows of the data

df.tail() #Prints last five rows of the data

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [18]:
df.shape

(205, 26)

In [6]:
len(col_headers)

df.columns=col_headers

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [67]:
df[df['body-style'=='convertible' & 'drive-wheels'=='fwd']] # & df['bore'==3.47]

TypeError: unsupported operand type(s) for &: 'str' and 'str'

## Some basic Analysis

In [7]:
df.dtypes #used to check datatypes of column

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [28]:
df.describe() #Gives you some summary statistics of data but it shows analysis only for numeric data

#df.describe(include='all') #It gives analysis of all data

#df.describe(include='object') #It gives analysis only for object or string data

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [33]:
np.sum(df['wheel-base'])/len(df['wheel-base'])

98.75658536585367

In [37]:
df['wheel-base']

86.6

In [20]:
df.info() #It shows information about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

## Data Preprocessing
###### The Process of converting or mapping data from the initial raw form into another format, in order to prepare data for further analysis
### Learning Objectives
###### 1. Identify & handle missing values
###### 2. Data Formatting
###### 3. Data Normalization
###### 4. Data Binning
###### 5. Turning categorical values to numeric variables

In [10]:
print(df['symboling'].head()) #printing symboling column in series form

print(type(df['symboling'].head()))

0    3
1    3
2    1
3    2
4    2
Name: symboling, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
df[['symboling']].tail() #prints symboling column in frame form as we give 2 brackets

type(df[['symboling']].tail())

pandas.core.frame.DataFrame

In [68]:
#df.make=='alpha-romero' #Comparison and show true where value get match and false in the other fields (Make is Column name)

#df[df.make=='bmw'] #Checks comparison and prints only matching data

df[df.make=='bmw']['engine-location'] #prints only mention column data which satisfies the following condition

10    front
11    front
12    front
13    front
14    front
15    front
16    front
17    front
Name: engine-location, dtype: object

### Note: While using Numpy Arrays or Pandas Series use & for and, | for or as numpy arrays and panda series dosen't have boolean values

In [13]:
#((df['wheel-base'] >100) & (df['wheel-base']<115)).describe()

#### Ex.   Subset all toyota vehicles where normalized losses > 80 and print the frequency of 'body type' for the resultant subset. (frequency count is nothing but total value counts)

In [14]:
pd.to_numeric(df['normalized-losses']) #it converts string column to numeric column

ValueError: Unable to parse string "?" at position 0

In [ ]:
df[((df['make']=='toyota') & (df['normalized-losses']>'80'))]['body-style'].value_counts()

#### Ex.    Print the following value counts of 'body style' for all 'toyota' & 'bmw' cars where 'engine location' is 'front'

In [ ]:
df[(df['make']=='toyota') & (df['engine-location']=='front') | (df['make']=='bmw') & (df['engine-location']=='front') ]['body-style'].value_counts()

In [ ]:
df[(df['make']=='toyota') | (df['make']=='bmw') & (df['engine-location']=='front')]['body-style'].value_counts()

### How to deal with missing data
#### - Drop the missing values
#### - Drop the data entry
#### - Replace the missing values 
##### 1. Replace it with an average (of similar data points)
##### 2.Replace it by frequency (modal value)
##### 3.Replace it using more advanced functions

In [ ]:
df.dropna(subset=['price'],axis=0, inplace=True)
#dropna() is a function which deletes missing value
    #axis=0 deletes all row of missing value
    #axis=1 means column wise
    #inplace= True then it directly delete from our original dataframe
    #inplace= False then it creates new dataframe without missing values

In [ ]:
df.price.isna().sum()
#isna() function returns true where missing values
#and after using it with sum() then it counts how many missing values are there in column

In [ ]:
import numpy as np

##### Nan is missing values in python

In [ ]:
df.price.replace('?',np.nan,inplace=True) #It replaces the ? values with nan

In [ ]:
missing_values=df.isnull()

In [ ]:
missing_values.columns.values.tolist()

In [ ]:
for column in missing_values.columns.values.tolist():
    print(column)
    print(missing_values[column].value_counts())
    print("")

In [ ]:
avg_1=df['price'].astype('float').mean(axis=0)

In [ ]:
df['price'].replace(np.nan,avg_1,inplace=True)
df['price'].isnull().sum()

In [ ]:
avg_2=df['peak-rpm'].astype('float').mean(axis=0)
df['peak-rpm'].replace(np.nan,avg_2,inplace=True)
df['peak-rpm'].isnull().sum()

In [ ]:
df['bore'].replace(np.nan,df['bore'].astype('float').mean(axis=0),inplace=True)

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
C
df['num-of-doors'].isna().sum()

In [ ]:
df.reset_index(drop=True,inplace=True) #It is used to reset index after deletion of row

## Data Transformation Technique
#### 1. Simple just like below ex.
#### 2. Data Normalization / Standardization
#### 3. Data Binning

In [ ]:
http://localhost:8888/notebooks/Pandas.ipynb#Data-Transformation-Techniquedf['city_mpg']=235/df['city-mpg'] #Creates new Column with the name city_mpg
df.rename(columns={'city_mp':'city_L/100km'},inplace=True) #rename the column

## Standardization / Data Normalization
#### Different types of method for nomalization
#### 1.Simple Feature Scalings
#### 2.Min Max Scaling
#### 3.Z Score

### 1.Simple Feature Scaling
#### Formula : df['new_col']=df.col_name / df.col_name.max()
#### i.e. It divide each column value by max value

In [ ]:
df['new_length'].head()

In [ ]:
df['new_length']=df.length/df.length.max() #Method of Simple Feature Scaling

In [ ]:
df.new_length.describe()

### 2.Min Max Scaling
#### formula : (df.col_name-df.col_name.min()) / (df.col_name.max()-df.col_name.min())
#### It divides the (old value - min value) by (max value-min value)

In [ ]:
df['new_norm_width']=(df.width-df.width.min())/(df.width.max()-df.width.min())
df.new_norm_width.describe()

### 3. Z - Score
#### formula : (df.length-df.length.mean()) / df.length.std()
#### In z score method it not only scale the data but also normalize it in normal distribution and centers the data around the 0

In [ ]:
df['length_norm_by_z']=(df.length-df.length.mean())/df.length.std() #std() is a function used to calculate standard deviation
df.describe()

## Data Binning
#### Binning is the process of converting continuous numerical data to bins
#### Converts numeric to categorical variables
#### formula = (max(col_name)-min(col_name)) / (no_of_bins+1)
#### Steps:
#### 1. Calculate binwidth using above formula
#### 2. Make array of bins of binedges using binwidth as argument to numpy arange function
#### 3. Cut the array using cut function of pandas which cuts the values according to bins

In [ ]:
df['price']=df.price.astype(int,copy=True)
binwidth=int(max(df.price)-min(df.price))/4
df.price.describe()

In [ ]:
bins=np.arange(min(df['price']),max(df['price']),binwidth)
bins

In [ ]:
price_group=['low','medium','high']
df['price-binned']=pd.cut(df['price'],bins,labels=price_group,include_lowest=True)
df['price-binned'].value_counts()

In [ ]:
binwidth_horse=int(max(df.horsepower)-min(df.horsepower))/4

In [ ]:
binwidth_horse

In [ ]:
bins_horse=np.arange(min(df['horsepower']),max(df['horsepower']),binwidth_horse)

In [ ]:
bins_horse
groups_horsepower=['low','better','best']

In [ ]:
df['horsepower-bins']=pd.cut(df['horsepower'],bins_horse,labels=groups_horsepower,include_lowest=True)
df['horsepower-bins'].value_counts()

In [ ]:
bin_width_engine=(max(df['engine-size'])-min(df['engine-size']))/3
bins_engine=np.arange(min(df['engine-size']),max(df['engine-size']),bin_width_engine)
engine_groups=['light','heavy']
df['engine_size_bins']=pd.cut(df['engine-size'],bins_engine,labels=engine_groups,include_lowest=True)
df.engine_size_bins.value_counts()

## Converting Categorical Data to Numeric Data
#### It is known as Dummy Encoding or One Hot Encoding
#### Method in pandas for that is pd.get_dummy()

In [ ]:
dummy_variable=pd.get_dummies(df['fuel-type'])

In [ ]:
df=pd.concat([df,dummy_variable],axis=1) #This concat method is used to concat our dummy output to our original data frame

In [ ]:
df.head()